<%= form_for @job, url: create_job_path do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>
    <div>
        <%= form.label :start_date %>
        <%= form.date_select :start_date %>
    </div>
    <div>
        <%= form.label :days_to_complete %>
        <%= form.number_field :days_to_complete, step: 1, min: 1, value: 1 %>
    </div>
    <%= form.submit "Submit" %>
<% end %>